h1 {
    text-align: center;
}

body {
    background-color: #909090;
}

ul {
    font-family: sans-serif;
    font-size: 20pt;
    position: relative;
    height: 400px;
    width: 190px;
    background-color: aqua;
    left: 590px;
}

