div#menu {
    margin-top: -100px;
}

div#ferramentas {
    margin-top: 100px;

}

div#ferramentas h1 {
    text-align: center;
}

ul {
    list-style: none;
}

div#linguagens-1 {
    display: flex;
}

div#linguagens-2 {
    display: flex;
}

.stacks{
    margin-right: 600px;
    margin-left: 100px;
}
