main {
    padding: 120px 20px;

}

h1 {
    text-align: center;
    text-shadow: 0px 0px 30px black;
    padding-bottom: 10px;
    border-bottom: 5px solid rgb(73, 73, 255);
    width: 20%;
    margin: auto;
}

.linguagens {
    border: 1px solid black;
    padding: 0px 10px;
}

#back-end {
    margin-top: 30px;
}