body {
    font-family: sans-serif;
    background-color: rgb(220, 220, 220);
    margin: 0px;
}

div#menu {
    position: fixed;
    display: flex;
    background-color: white;
    opacity: .97;
    padding: 10px 177px 10px 0px;
    border-bottom: 1px solid #909090;
}

div#menu img#developer {
    width: 200px;
    padding: 0px 345px 0px 50px;
}

div#menu header {
    margin-top: 24px;
}

div#menu a {
    font-weight: bold;
    color: #303030;
    text-decoration: none;
    font-size: 12pt;
    margin-left: 28px;
}

div#menu a:hover {
    color: blue;
}

div#menu a#contato {
    background-color: rgb(73, 73, 255);
    color: white;
    width: 10px;
    padding: 8px;
}

div#menu a#contato:hover {
    background-color: blue;
}

div#rodape{
    background-color: rgb(9, 0, 52);
    color: white;
}

div#rodape div#cima {
    display: flex;
    gap: 220px;
    background-color: rgb(9, 0, 52);
    color: white;
    padding: 30px;
}

.rodape-bloco ul {
    list-style: none;
    text-indent: -40px;
}

.rodape-bloco p {
    color: #acacac;
    text-decoration: none;
}

.rodape-bloco a {
    color: #acacac;
    text-decoration: none;
    border: none;
}

.rodape-bloco a:hover {
    color: white;
}

.rodape-bloco-redes-sociais img{
    width: 20px;
    background-color: rgb(60, 70, 70);
    border-radius: 20%;
    padding: 7px;
}

.rodape-bloco-redes-sociais img:hover{
    background-color: #959595;
}

div#rodape div#baixo {
    border-top: 1px solid white;
    clear: both;
    display: flex;
    gap: 750px;
}

div#rodape div#baixo p {
    color: #959595;
    padding: 0px 0px 0px 32px;
}





div#inicio {
    padding: 120px;
}

div#inicio img#perfil{
    margin-left: 400px;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 500%;
    right: 300px;
}

div#inicio header{
    text-align: center;
}

div#inicio header h1 {
    font-size: 50pt;
    color: black;
    margin-bottom: -20px;
}

div#inicio header h1 span{
    color: rgb(73, 73, 255);;
}

div#inicio header h2 {
    font-size: 20pt;
    color: rgb(60, 70, 70);
}

div#inicio div#biografia {
    margin: 0px 0px 35px 0px;
    text-align: justify;
}

div#inicio p {
    text-indent: 40px;
    font-size: 16pt;
    color: #404040;
}

div#inicio p span{
    color: black;
    font-weight: bold;
}