body {
    font-family: sans-serif;
    background-color: rgb(220, 220, 220);
    margin: 0px;
}

/* Cabeçalho */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    opacity: .97;
    padding: 10px 0px;
    border-bottom: 1px solid #909090;
}

img#developer {
    width: 200px;
    margin-right: auto;
    margin-left: 40px;
}

nav#link-header a {
    font-weight: bold;
    color: #303030;
    text-decoration: none;
    font-size: 12pt;
    margin-left: 28px;
}

nav#link-header a:hover {
    color: blue;
}

nav#link-header a#contato {
    background-color: rgb(73, 73, 255);
    color: white;
    width: 10px;
    padding: 12px 8px;
    margin-right: 30px;
}

nav#link-header a#contato:hover {
    background-color: blue;
}


/* Rodapé*/


footer#rodape{
    background-color: rgb(9, 0, 52);
    color: white;
}

footer#rodape div#cima {
    display: flex;
    justify-content: space-between;
    background-color: rgb(9, 0, 52);
    color: white;
    padding: 30px;
}

nav#links-rapidos ul {
    list-style: none;
    padding: 0px;
}

.rodape-bloco p {
    color: #acacac;
}

nav#links-rapidos a {
    color: #acacac;
    text-decoration: none;
    border: none;
}

nav#links-rapidos a:hover {
    color: white;
}

nav#redes-sociais img{
    width: 20px;
    background-color: rgb(60, 70, 70);
    border-radius: 20%;
    padding: 7px;
}

nav#redes-sociais img:hover{
    background-color: #959595;
}

footer#rodape div#baixo {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-top: 1px solid white;
}

footer#rodape div#baixo p {
    color: #959595;
}

/* Principal */


main#home {
    max-width: 1100px;
    margin: 0px auto;
    padding: 120px 20px;
}

img#perfil{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto 30px auto;
}

section#biografia {
    text-align: justify;
}

section#biografia p {
    text-indent: 40px;
    font-size: 14pt;
    color: #404040;
}

section#biografia p strong{
    color: black;
    font-weight: bold;
}

div#apresentacao {
    text-align: center;
    margin-bottom: 10px;
}

div#apresentacao h1 {
    font-size: 50pt;
    color: black;
    margin-bottom: 10px;
}

div#apresentacao h1 strong {
    color: rgb(73, 73, 255);
}

div#apresentacao h2 {
    font-size: 20pt;
    color: rgb(60, 70, 70);
}